<span class="btVoortgang"></span>

<section>

  <h1>Vak 4</h1>
  <h2>Browser Technologies</h2>

  <label id='BTdocentKey' for='BTdocent'>Wie was je docent?</label>
  <input type='text' id='BTdocent' name='BTdocent' required>


  <h3>Tijdens welke weken heb je het vak gevolgd?</h3>
  <label id='BTweken1-4Key' for='BTweken1-4'>Week 1 - 4</label>
  <input type='radio' id='BTweken1-4' name='BTweken' value='1-4' checked>


  <label id='BTweken5-9Key' for='BTweken4-9'>Week 5 - 9</label>
  <input type='radio' id='BTweken5-9' name='BTweken' value='5-9'>


  <label id='BTweken10-14Key' for='BTweken10-14'>Week 10 - 14</label>
  <input type='radio' id='BTweken10-14' name='BTweken' value='10-14'>


  <label id='BTmoeilijkKey' for='BTmoeilijk'>Hoe vond je het vak qua moeilijkheidsgraad?</label>
  <input type='text' id='BTmoeilijk' name='BTmoeilijk' required>


  <label id='BTuitlegKey' for='BTuitleg'>Wat vond je van de gegeven uitleg bij dit vak?</label>
  <input type='text' id='BTuitleg' name='BTuitleg' required>


  <label id='BTsnappenKey' for='BTsnappen'>Hoe goed denk je dat je dit vak nu snapt?</label>
  <input type='text' id='BTsnappen' name='BTsnappen' required>


  <label id='BTcijferKey' for='BTcijfer'>Wat voor cijfer geef je het vak?</label>
  <input type='number' min='1' max='10' id='BTcijfer' name='BTcijfer' required>