<span class="btVoortgang"></span>

<h1>Browser Technologies</h1>

<label id='BTdocentKey' for='BTdocent'>Wie was je docent?</label>
<input type='text' id='BTdocent' name='BTdocent' placeholder='Docent' required>


<h3>Tijdens welke weken heb je het vak gevolgd?</h3>
<div>
  <label id='BTweken1-4Key' for='BTweken1-4'>
    <input type='radio' id='BTweken1-4' name='BTweken' value='1-4'>
    Week 1 - 4</label>

  <label id='BTweken5-9Key' for='BTweken4-9'>
    <input type='radio' id='BTweken5-9' name='BTweken' value='5-9' checked>
    Week 5 - 9</label>

  <label id='BTweken10-14Key' for='BTweken10-14'>
    <input type='radio' id='BTweken10-14' name='BTweken' value='10-14'>
    Week 10 - 14</label>
</div>

<label id='BTmoeilijkKey' for='BTmoeilijk'>Vond je het vak moeilijk?</label>
<input type='text' id='BTmoeilijk' name='BTmoeilijk' placeholder='Vul hier je antwoord in' required>


<label id='BTuitlegKey' for='BTuitleg'>Wat vond je van de uitleg?</label>
<input type='text' id='BTuitleg' name='BTuitleg' placeholder='Vul hier je antwoord in' required>


<label id='BTsnappenKey' for='BTsnappen'>Hoe goed denk je dat je dit vak nu snapt?</label>
<input type='text' id='BTsnappen' name='BTsnappen' placeholder='Vul hier je antwoord in' required>


<label id='BTcijferKey' for='BTcijfer'>Wat voor cijfer geef je het vak?</label>
<input type='number' min='1' max='10' id='BTcijfer' name='BTcijfer' placeholder='1-10' required>