<span class="cssttrVoortgang"></span>

<fieldset>

  <h1>CSS to the Rescue</h1>

  <label id='CSSTTRdocentKey' for='CSSTTRdocent'>Wie was je docent?</label>
  <input type='text' id='CSSTTRdocent' name='CSSTTRdocent' placeholder='Docent' required>


  <h3>Tijdens welke weken heb je het vak gevolgd?</h3>
  <div>
    <label id='CSSTTRweken1-4Key' for='CSSTTRweken1-4'>
      <input type='radio' id='CSSTTRweken1-4' name='CSSTTRweken' value='1-4' checked>
      Week 1 - 4</label>

    <label id='CSSTTRweken5-9Key' for='CSSTTRweken4-9'>
      <input type='radio' id='CSSTTRweken5-9' name='CSSTTRweken' value='5-9'>
      Week 5 - 9</label>

    <label id='CSSTTRweken10-14Key' for='CSSTTRweken10-14'>
      <input type='radio' id='CSSTTRweken10-14' name='CSSTTRweken' value='10-14'>
      Week 10 - 14</label>
  </div>

  <label id='CSSTTRmoeilijkKey' for='CSSTTRmoeilijk'>Vond je het vak moeilijk?</label>
  <input type='text' id='CSSTTRmoeilijk' name='CSSTTRmoeilijk' placeholder='Vul hier je antwoord in' required>


  <label id='CSSTTRuitlegKey' for='CSSTTRuitleg'>Wat vond je van de uitleg?</label>
  <input type='text' id='CSSTTRuitleg' name='CSSTTRuitleg' placeholder='Vul hier je antwoord in' required>


  <label id='CSSTTRsnappenKey' for='CSSTTRsnappen'>Hoe goed denk je dat je dit vak nu snapt?</label>
  <input type='text' id='CSSTTRsnappen' name='CSSTTRsnappen' placeholder='Vul hier je antwoord in' required>


  <label id='CSSTTRcijferKey' for='CSSTTRcijfer'>Wat voor cijfer geef je het vak?</label>
  <input type='number' min='1' max='10' id='CSSTTRcijfer' name='CSSTTRcijfer' placeholder='1-10' required>