<span class="hcdVoortgang"></span>

<section>

  <h1>Human Centred Design</h1>

  <label id='HCDdocentKey' for='HCDdocent'>Wie was je docent?</label>
  <input type='text' id='HCDdocent' name='HCDdocent' required>


  <h3>Tijdens welke weken heb je het vak gevolgd?</h3>
  <label id='HCDweken1-4Key' for='HCDweken1-4'>
    <input type='radio' id='HCDweken1-4' name='HCDweken' value='1-4'>
    Week 1 - 4</label>

  <label id='HCDweken5-9Key' for='HCDweken4-9'>
    <input type='radio' id='HCDweken5-9' name='HCDweken' value='5-9'>
    Week 5 - 9</label>

  <label id='HCDweken10-14Key' for='HCDweken10-14'>
    <input type='radio' id='HCDweken10-14' name='HCDweken' value='10-14' checked>
    Week 10 - 14</label>

  <label id='HCDmoeilijkKey' for='HCDmoeilijk'>Hoe vond je het vak qua moeilijkheidsgraad?</label>
  <input type='text' id='HCDmoeilijk' name='HCDmoeilijk' required>


  <label id='HCDuitlegKey' for='HCDuitleg'>Wat vond je van de gegeven uitleg bij dit vak?</label>
  <input type='text' id='HCDuitleg' name='HCDuitleg' required>


  <label id='HCDsnappenKey' for='HCDsnappen'>Hoe goed denk je dat je dit vak nu snapt?</label>
  <input type='text' id='HCDsnappen' name='HCDsnappen' required>


  <label id='HCDcijferKey' for='HCDcijfer'>Wat voor cijfer geef je het vak?</label>
  <input type='number' min='1' max='10' id='HCDcijfer' name='HCDcijfer' required>