<!-- <form action='/results' method='POST'>

  <h1>Algemeen</h1>
  <h2>Vul je naam & studentnummer in</h2>

  <label id='naamKey' for='naam'>Naam</label>
  <input type='text' id='naam' name='naam' required>

  <label id='studentnummerKey' for='studentnummer'>Studentnummer</label>
  <input type='text' id='studentnummer' name='studentnummer' required>

  <a href="/wafs">
    <input type="button" value="verder" id="loginButton">
  </a> -->