<nav>
  <a href="/home">
    <p>home</p>
  </a>

  <a href="/login">
    <p>login</p>
  </a>

  <a href="/wafs1">
    <p>wafs1</p>
  </a>

  <a href="/wafs2">
    <p>wafs2</p>
  </a>

  <a href="/wafs3">
    <p>wafs3</p>
  </a>

  <a href="/wafs4">
    <p>wafs4</p>
  </a>

  <a href="/wafs5">
    <p>wafs5</p>
  </a>

  <a href="/wafs6">
    <p>wafs6</p>
  </a>
</nav>