<span class="rtwVoortgang"></span>

<section>

  <h1>Vak 5</h1>
  <h2>Real-Time Web</h2>

  <label id='RTWdocentKey' for='RTWdocent'>Wie was je docent?</label>
  <input type='text' id='RTWdocent' name='RTWdocent' required>


  <h3>Tijdens welke weken heb je het vak gevolgd?</h3>
  <label id='RTWweken1-4Key' for='RTWweken1-4'>Week 1 - 4</label>
  <input type='radio' id='RTWweken1-4' name='RTWweken' value='1-4' checked>


  <label id='RTWweken5-9Key' for='RTWweken4-9'>Week 5 - 9</label>
  <input type='radio' id='RTWweken5-9' name='RTWweken' value='5-9'>

  <label id='RTWweken10-14Key' for='RTWweken10-14'>Week 10 - 14</label>
  <input type='radio' id='RTWweken10-14' name='RTWweken' value='10-14'>


  <label id='RTWmoeilijkKey' for='RTWmoeilijk'>Hoe vond je het vak qua moeilijkheidsgraad?</label>
  <input type='text' id='RTWmoeilijk' name='RTWmoeilijk' required>


  <label id='RTWuitlegKey' for='RTWuitleg'>Wat vond je van de gegeven uitleg bij dit vak?</label>
  <input type='text' id='RTWuitleg' name='RTWuitleg' required>


  <label id='RTWsnappenKey' for='RTWsnappen'>Hoe goed denk je dat je dit vak nu snapt?</label>
  <input type='text' id='RTWsnappen' name='RTWsnappen' required>


  <label id='RTWcijferKey' for='RTWcijfer'>Wat voor cijfer geef je het vak?</label>
  <input type='number' min='1' max='10' id='RTWcijfer' name='RTWcijfer' required>