<span class="rtwVoortgang"></span>

<section>

  <h1>Real-Time Web</h1>

  <label id='RTWdocentKey' for='RTWdocent'>Wie was je docent?</label>
  <input type='text' id='RTWdocent' name='RTWdocent' placeholder='Docent' required>


  <h3>Tijdens welke weken heb je het vak gevolgd?</h3>
  <div>
    <label id='RTWweken1-4Key' for='RTWweken1-4'>
      <input type='radio' id='RTWweken1-4' name='RTWweken' value='1-4'>
      Week 1 - 4</label>

    <label id='RTWweken5-9Key' for='RTWweken4-9'>
      <input type='radio' id='RTWweken5-9' name='RTWweken' value='5-9'>
      Week 5 - 9</label>

    <label id='RTWweken10-14Key' for='RTWweken10-14'>
      <input type='radio' id='RTWweken10-14' name='RTWweken' value='10-14' checked>
      Week 10 - 14</label>
  </div>

  <label id='RTWmoeilijkKey' for='RTWmoeilijk'>Vond je het vak moeilijk?</label>
  <input type='text' id='RTWmoeilijk' name='RTWmoeilijk' placeholder='Vul hier je antwoord in' required>


  <label id='RTWuitlegKey' for='RTWuitleg'>Wat vond je van de uitleg?</label>
  <input type='text' id='RTWuitleg' name='RTWuitleg' placeholder='Vul hier je antwoord in' required>


  <label id='RTWsnappenKey' for='RTWsnappen'>Hoe goed denk je dat je dit vak nu snapt?</label>
  <input type='text' id='RTWsnappen' name='RTWsnappen' placeholder='Vul hier je antwoord in' required>


  <label id='RTWcijferKey' for='RTWcijfer'>Wat voor cijfer geef je het vak?</label>
  <input type='number' min='1' max='10' id='RTWcijfer' name='RTWcijfer' placeholder='1-10' required>