<span class="wafsVoortgang"></span>

<fieldset>

  <h1>Web App From Scratch</h1>

  <label id='WAFSdocentKey' for='WAFSdocent'>Wie was je docent?</label>
  <input type='text' id='WAFSdocent' name='WAFSdocent' placeholder='Docent' required>


  <h3>Tijdens welke weken heb je het vak gevolgd?</h3>
  <div>
    <label id='WAFSweken1-4Key' for='WAFSweken1-4'>
      <input type='radio' id='WAFSweken1-4' name='WAFSweken' value='1-4' checked>
      Week 1 - 4</label>

    <label id='WAFSweken5-9Key' for='WAFSweken4-9'>
      <input type='radio' id='WAFSweken5-9' name='WAFSweken' value='5-9'>
      Week 5 - 9</label>

    <label id='WAFSweken10-14Key' for='WAFSweken10-14'>
      <input type='radio' id='WAFSweken10-14' name='WAFSweken' value='10-14'>
      Week 10 - 14</label>
  </div>

  <label id='WAFSmoeilijkKey' for='WAFSmoeilijk'>Vond je het vak moeilijk?</label>
  <input type='text' id='WAFSmoeilijk' name='WAFSmoeilijk' placeholder='Vul hier je antwoord in' required>


  <label id='WAFSuitlegKey' for='WAFSuitleg'>Wat vond je van de uitleg?</label>
  <input type='text' id='WAFSuitleg' name='WAFSuitleg' placeholder='Vul hier je antwoord in' required>


  <label id='WAFSsnappenKey' for='WAFSsnappen'>Hoe goed denk je dat je dit vak nu snapt?</label>
  <input type='text' id='WAFSsnappen' name='WAFSsnappen' placeholder='Vul hier je antwoord in' required>


  <label id='WAFScijferKey' for='WAFScijfer'>Wat voor cijfer geef je het vak?</label>
  <input type='number' min='1' max='10' id='WAFScijfer' name='WAFScijfer' placeholder='1-10' required>