<%- include('./partials/head.ejs') %>

  <body>

    <%- include('./partials/header.ejs') %>

      <main>

        <form>

          <ol>

            <li id="details">
              <fieldset>
                <legend></legend>
                <section>
                  <h1>404</h1>
                  <h2>That didn't go as planned :(</h2>
                </section>
              </fieldset>
            </li>

          </ol>

        </form>

  </body>

  </main>

  </html>