<%- include('./partials/head.ejs') %>

  <h1>MINOR</h1>
  <img src='images/wdd_logo.png' alt='Web Design and Development logo'>
  <h2>Web Design & Development</h2>
  <h3>dank einde</h3>

  <%- include('./partials/footer.ejs') %>