<!-- End screen after completing survey -->
<%- include('./partials/head.ejs') %>

  <section class="carousel">

    <ol>

      <li class="end">
        <%- include('./partials/header.ejs') %>

          <section class='content'>
            <span class="endVoortgang"></span>

            <fieldset>
              <h1>Verzonden</h1>
              <h2>Bedankt voor het invullen van de enquête!</h2>

              <a class='endLink' href="https://www.google.com/">
                <p>Verder gaan met het leven</p>
              </a>
            </fieldset>
          </section>

      </li>
    </ol>
  </section>

  <!-- <%- include('./partials/footer.ejs') %> -->

  </main>
  </body>

  </html>