<%- include('./partials/head.ejs') %>

  <body>

    <%- include('./partials/header.ejs') %>

      <main>

        <form method='post' action='/results'>

          <ol>

            <!---------- END PAGE ----------->
            <li id="end">
              <fieldset>
                <span class="endVoortgang"></span>

                <section>

                  <h1>Verzonden!</h1>
                  <h2>Bedankt voor het invullen van de enquête.</h2>

                  <a class='endLink' href="https://www.google.com/">
                    <p>Verder gaan met het leven</p>
                  </a>
                </section>
              </fieldset>
            </li>

          </ol>

        </form>

  </body>

  <%- include('./partials/footer.ejs') %>

    </main>

    </html>