<%- include('./partials/head.ejs') %>

  <section class="carousel">

    <ol>

      <li id="index">
        <%- include('./partials/header.ejs') %>

          <section class='content'>

            <section>
              <h1>Web Design & Development</h1>
              <h2>Enquête</h2>

              <a href="/enquete#login">
                <input type="button" value="Start">
              </a>
            </section>
          </section>

      </li>

    </ol>

  </section>

  <%- include('./partials/footer.ejs') %>