/******************************/
/*           GENERAL          */
/******************************/
/* reset */
* {
  padding: 0;
  margin: 0;
}

/* imports */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap"); 


/******************************/
/*            BODY            */
/******************************/
body {
  background-color: #34A8E0;
  background: linear-gradient(180deg, #34A8E0 60.94%, #3AAA34 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}


/******************************/
/*           HEADER           */
/******************************/
header {
  margin: 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: -10px;
}

header svg {
  width: 35px;
  height: auto;
}

header h1 {
  font-size: 1.5em;
  margin: 0;
}


/******************************/
/*         TYPOGRAPHY         */
/******************************/
h1,
h2,
h3,
p,
label,
input,
button {
  font-family: sans-serif;
}

h1 {
  font-size: 1.35em;
  font-weight: 600;
  margin-bottom: 1.5em;
}

h2 {
  font-size: 1.15em;
  font-weight: 600;
  margin-bottom: 1.5em;
}

h3,
p,
label {
  font-size: 1em;
  font-weight: 400;
}

input[type=text],
input[type=number] {
  font-size: 0.85em;
}


input[type=button],
input[type=submit] {
  font-size: 1em;
  font-weight: 400;
}


#login h1:nth-of-type(2) {
  margin-bottom: 0.5em;
}


/******************************/
/*         FIRST PAGE         */
/******************************/
li:nth-of-type(1) fieldset {
  text-align: center;
}

li:nth-of-type(1) fieldset h1 {
  margin-bottom: 1em;
}

li:nth-of-type(1) fieldset h2 {
  margin-bottom: 4em;
}

li:nth-of-type(1) fieldset a {
  align-self: center;
}


/******************************/
/*        PROGRESS BAR        */
/******************************/
/* full bar */
span {
  position: absolute;
  left: 1.25em;
  width: 84.5%;
  height: 1em;
  border-radius: 25px;
  background-color: #E0E0E0;
}

/* black bar */
span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 1em;
  border-radius: 25px;
  background-color: #000000;
}

/* black bar width */
.loginVoortgang::before {
  width: 1em;
}

.wafsVoortgang::before {
  width: 14%;
}

.cssttrVoortgang::before {
  width: 28%;
}

.pwaVoortgang::before {
  width: 42%;
}

.btVoortgang::before {
  width: 57%;
}

.rtwVoortgang::before {
  width: 71%
}

.hcdVoortgang::before {
  width: 85%;
}


/******************************/
/*          CAROUSEL          */
/******************************/
.carousel {
  position: relative;
  filter: drop-shadow(0 0 10px #000000);
  /* perspective: 100px; */
}

ol,
li {    
  list-style: none;
}

/* list */
ol {
  margin: 0 auto;
  position: relative;
  top: 3em;
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 44em;
  border-radius: 20px;
  overflow-x: hidden;
  /* overflow-x: scroll; */
  /* scroll-snap-type: x mandatory; */
}

/* list items */
li {
  background-color: #ffffff;
  position: relative;
  margin: 0 auto;
  padding: 26px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex: 0 0 85%;
  /* height: 43em; */
  overflow-y: scroll;
}


/******************************/
/*          SECTIONS          */
/******************************/
fieldset {
  position: relative;
  top: 3em;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-style: none;
}

.content {
  margin-top: 10px;
  /* width: 100%;
  height: auto; */
}


/******************************/
/*           LABELS           */
/******************************/
label {
  margin-bottom: 0.35em;
}


/******************************/
/*        INPUT FIELDS        */
/******************************/
input[type=text],
input[type=number] {
  height: 2.25em;
  /* box-shadow: -3px 3px 0px rgba(0, 0, 0, 0.25); */
  background-color: #E0E0E0;
  border-style: none;
  border-radius: 20px;
  padding: 2px 15px;
}


input[type=text] {
  margin-bottom: 1.5em;
}


input::placeholder {
  font-size: 0.85em;
  color: #6F6F6F;
}


/******************************/
/*    RADIO BUTTONS SECTION   */
/******************************/
fieldset > div {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}


/******************************/
/*           BUTTONS          */
/******************************/
input[type=button],
input[type=submit] {
  width: 7rem;
  height: 2rem;
  border-style: none;
  border-radius: 20px;
  background-color: #E0E0E0;
  margin: 1em 0 2em 0;

  /* remove default safari styles */
  -webkit-appearance: none;
}

a {
  width: 7rem;
  height: 2rem;
}

fieldset > a:first-of-type {
  position: relative;
  top: 32px;
  align-self: flex-start;
}

fieldset > a:last-of-type {
  position: relative;
  top: 0;
  align-self: flex-end;
  margin-bottom: 4em;
}

/* section > div:last-of-type {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div:first-of-type {
  justify-content: center;

} */


/******************************/
/*         END SCREEN         */
/******************************/
.end {
  margin: 0 auto;
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

/* .end span {
  left: 1.25em;
} */

.endVoortgang::before {
  width: 100%;
  left: 0;
}

.endLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 2.5rem;
  padding: 5px;
  border-style: none;
  border-radius: 20px;
  background-color: #7FCD7B;
  text-decoration: none;
  color: #000000;
}

.endLink p {
  width: 7rem;
}


/******************************/
/*           FOOTER           */
/******************************/
/* footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
} */


/******************************/
/*         VALIDATION         */
/******************************/
.valid {
  box-shadow: -3px 3px 0px rgba(127, 205, 123, 1);
}

.error {
  box-shadow: -3px 3px 0px rgba(255, 94, 94, 1);
}


/******************************/
/*        SMALL SCREEN        */
/******************************/

@media screen and (min-width: 440px) and (max-width: 630px) {
  /* full bar */
  span {
    left: 3em;
    width: 75%;
  }

  ol {
    height: 40em;
  }

  /* li {
    padding-left: 50px;
  } */

  .content {
    width: 90%;
  }

  /* .end span {
    left: 3em;
  } */
  
}

@media screen and (min-width: 630px) and (max-width: 715px) {
  /* full bar */
  span {
    left: 2.25em;
    width: 85%;
  }

  ol {
    height: 40em;
    width: 70%;
  }

  li {
    padding: 26px 36px;
  }

  /* .end span {
    left: 2.25em;
  } */
  
}

@media screen and (min-width: 715px) and (max-width: 815px) {
  /* full bar */
  span {
    left: 2.25em;
    width: 85%;
  }

  ol {
    height: 40em;
    width: 60%;
  }

  li {
    padding: 26px 36px;
  }

  /* .content {
    width: 90%;
  } */

  /* .end span {
    left: 2.25em;
  } */
  
}

@media screen and (min-width: 815px) and (max-width: 1000px) {
  /* full bar */
  span {
    left: 2.25em;
    width: 84%;
  }

  ol {
    height: 37em;
    width: 50%;
  }

  /* li {
    margin: 26px 36px;
  } */

  /* .content {
    width: 90%;
  } */

  /* .end span {
    left: 2.25em;
  } */
  
}