/******************************/
/*           GENERAL          */
/******************************/
* {
  margin: 0;
  padding: 0;
}


/* body */
body {
  background-color: #34A8E0;
  background: linear-gradient(180deg, #34A8E0 60.94%, #3AAA34 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: auto;
}

/* main */
main {
  width: 100%;
  height: auto;
}


/******************************/
/*         TYPOGRAPHY         */
/******************************/
h1,
h2,
h3,
p,
a,
label,
input,
button {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 1.35em;
  font-weight: 600;
  margin-bottom: 1.5em;
}

h2 {
  font-size: 1.15em;
  font-weight: 600;
  margin-bottom: 1.5em;
}

h3,
p,
label {
  font-size: 1em;
  font-weight: 400;
}

input[type=text],
input[type=number] {
  font-size: 0.85em;
}

input[type=button],
input[type=submit] {
  font-size: 1em;
  font-weight: 400;
}

#login h1:nth-of-type(2) {
  margin-bottom: 0.5em;
}


/******************************/
/*            FORM            */
/******************************/
form {
  position: relative;
  top: 1em;
  width: 80%;
  height: auto;
  margin: 0 auto;
}


/******************************/
/*             LIST           */
/******************************/
ol {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 34em;
  border-radius: 20px;
  overflow: hidden;
}


/******************************/
/*         LIST ITEMS         */
/******************************/
li {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex: 0 0 100%;
  width: 100%;
  height: auto;
  overflow-y: scroll;
  background-color: #ffffff;

  /* hide scrollbars Firefox*/
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* hide scrollbars Chrome & Safari */
::-webkit-scrollbar {
  display: none;
}


/******************************/
/*           HEADER          */
/******************************/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 10em;
  height: 4em;
  margin: 0 auto;
  margin-top: 20px;
}

header svg {
  width: 35px;
  height: auto;
}

header h1 {
  font-size: 2.25em;
  margin: 0;
}


/******************************/
/*          FIELDSET          */
/******************************/
fieldset {
  border: none;
  padding: 30px;
  width: auto;
}


/******************************/
/*           SECTION          */
/******************************/
section {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  margin-top: 35px;
  margin-bottom: 35px;
}


/******************************/
/*        PROGRESS BAR        */
/******************************/
span {
  display: block;
  position: relative;
  top: 0.5em;
  width: inherit;
  height: 1em;
  border-radius: 25px;
  background-color: #E0E0E0;
}

/* black bar */
span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 1em;
  border-radius: 25px;
  background-color: #000000;
}

/* black bar width */
.loginVoortgang::before {
  width: 1em;
}

.wafsVoortgang::before {
  width: 14%;
}

.cssttrVoortgang::before {
  width: 28%;
}

.pwaVoortgang::before {
  width: 42%;
}

.btVoortgang::before {
  width: 57%;
}

.rtwVoortgang::before {
  width: 71%
}

.hcdVoortgang::before {
  width: 85%;
}

.endVoortgang::before {
  width: 100%;
}


/******************************/
/*        INPUT FIELDS        */
/******************************/
input[type=text],
input[type=number] {
  height: 2.25em;
  background-color: #E0E0E0;
  border-style: none;
  border-radius: 20px;
  padding: 2px 15px;
  margin-top: 0.35em;
}

input[type=text] {
  margin-bottom: 1.5em;
}

input::placeholder {
  font-size: 0.85em;
  color: #6F6F6F;
}


/******************************/
/*    RADIO BUTTONS SECTION   */
/******************************/
section > div {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}


/******************************/
/*           BUTTONS          */
/******************************/
input[type=button],
input[type=submit] {
  width: 7rem;
  height: 2rem;
  border-style: none;
  border-radius: 20px;
  background-color: #E0E0E0;
  margin: 1em 0 2em 0;

  /* remove default safari styles */
  -webkit-appearance: none;
}

a {
  width: 7rem;
  height: 2rem;
}

section > a:first-of-type {
  position: relative;
  top: 21px;
  align-self: flex-start;
}

section > a:last-of-type {
  position: relative;
  top: -10px;
  align-self: flex-end;
}


/******************************/
/*           FOOTER           */
/******************************/
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
}


/******************************/
/*         FIRST PAGE         */
/******************************/
#index section {
  text-align: center;
}

#index a {
  align-self: center;
}


/******************************/
/*          END PAGE          */
/******************************/
#end section {
  text-align: center;
}

#end a {
  align-self: center;
  font-size: 0.75em;
  font-weight: 600;
  line-height: 1.5em;
  color: #000000;
  margin-top: 275px;
}


/******************************/
/*        RESULT PAGE         */
/******************************/
#results div {
  display: flex;
  justify-content: center;
  align-self: flex-start;
  width: 50%;
  height: 4em;
  padding: 4px 20px;
  border-radius: 25px;
  background-color: #E0E0E0;;
}

#results a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #000000;
}

#results h2 {
  margin-top: 1em;
  line-height: 0;
}


/******************************/
/*        DETAILS PAGE        */
/******************************/
#details div {
  display: flex;
  justify-content: center;
  align-self: flex-start;
  width: 75%;
  height: auto;
  padding: 20px;
  border-radius: 25px;
  margin: 0 auto;
  margin-bottom: 50px;
  background-color: #E0E0E0;;
}

#details div:first-of-type {
  margin-top: 5em;
}

#details h1,
#details h2 {
  margin-bottom: 0.25em;
}

#details p {
  margin-bottom: 1.5em;
}

#details a {
  align-self: flex-start;
  color: #000000;
}


/******************************/
/*         VALIDATION         */
/******************************/
.valid {
  box-shadow: -3px 3px 0px rgba(127, 205, 123, 1);
}

.error {
  box-shadow: -3px 3px 0px rgba(255, 94, 94, 1);
}


/******************************/
/*       BIGGER SCREENS       */
/******************************/
@media screen and (min-width: 700px) and (max-width: 900px) {

  /* form */
  form {
    width: 70%;
  }
}


@media screen and (min-width: 900px) and (max-width: 1250px) {

  /* form */
  form {
    width: 55%;
  }
}


@media screen and (min-width: 1250px) and (max-width: 1450px) {

  /* form */
  form {
    width: 45%;
  }
}


@media screen and (min-width: 1450px) and (max-width: 1800px) {

  /* form */
  form {
    width: 35%;
  }
}


@media screen and (min-width: 1800px) and (max-width: 2500px) {

  /* form */
  form {
    width: 25%;
  }


  /* list */
  ol {
    height: 44em;
  }
}