* {
  margin: 0;
  padding: 0;
}

body {
  background-color: crimson;
}

main {
  position: relative;
  top: 3em;
  width: 70%;
  height: auto;
  margin: 0 auto;
}

#slider input[type=radio] {
  display: none;
}

#slider label {
  cursor:pointer;
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40em;
  /* padding: 10px; */
  border: 3px solid #ccc;
  background: #fff;
  position: relative;
  z-index: 1;
}
#overflow {
  width: 100%;
  overflow: hidden;
}
/* #slide1:checked ~ #slides .inner {
  margin-left: 0;
} */
#slide2:checked ~ #slides .inner {
  margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
  margin-left: -200%;
}
#slide4:checked ~ #slides .inner {
  margin-left: -300%;
}
#slide5:checked ~ #slides .inner {
  margin-left: -400%;
}
#slide6:checked ~ #slides .inner {
  margin-left: -500%;
}
#slide7:checked ~ #slides .inner {
  margin-left: -600%;
}
#slide8:checked ~ #slides .inner {
  margin-left: -700%;
}

ol {
  display: flex;
  flex-direction: row;
}

li {
  /* width: 25%; */
  /* float:left; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  height: auto;
}

#controls {
  margin: -180px 0 0 0;
  width: 100%;
  height: 50px;
  z-index: 3;
  position: relative;
}
#controls label {
  transition: opacity 0.2s ease-out;
  display: none;
  width: 50px;
  height: 50px;
  opacity: .4;
}
#controls label:hover {
  opacity: 1;
}
#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(5),
#slide5:checked ~ #controls label:nth-child(6),
#slide6:checked ~ #controls label:nth-child(7),
#slide7:checked ~ #controls label:nth-child(8) {
  background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
  float:right;
  margin: 0 -50px 0 0;
  display: block;
}
#slide1:checked ~ #controls label:nth-last-child(2),
#slide2:checked ~ #controls label:nth-last-child(3),
#slide3:checked ~ #controls label:nth-last-child(4),
#slide4:checked ~ #controls label:nth-last-child(5),
#slide5:checked ~ #controls label:nth-last-child(6),
#slide6:checked ~ #controls label:nth-last-child(7),
#slide7:checked ~ #controls label:nth-last-child(8)  {
  background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
  float:left;
  margin: 0 0 0 -50px;
  display: block;
}

label:nth-child(8),
label:last-child(8) {
  display: none;
}

/* 
@media screen and (max-width: 900px) {
  #slide1:checked ~ #controls label:nth-child(2),
  #slide2:checked ~ #controls label:nth-child(3),
  #slide3:checked ~ #controls label:nth-child(4),
  #slide4:checked ~ #controls label:nth-child(1),
  #slide1:checked ~ #controls label:nth-last-child(2),
  #slide2:checked ~ #controls label:nth-last-child(3),
  #slide3:checked ~ #controls label:nth-last-child(4),
  #slide4:checked ~ #controls label:nth-last-child(1) {
     margin: 0;
  }
  #slides {
     max-width: calc(100% - 140px);
     margin: 0 auto;
  }
} */